# Für die Nutzung auf spielwiese.me

services:
    dns-proxy:
        deploy:
            replicas: 0

    web: !override
        ports:
            - '8080:80'
        build:
            context: .
            dockerfile: docker/web/Dockerfile
        links:
            - php-fpm

    php-fpm: !override
        build:
            context: .
            dockerfile: docker/php-fpm/Dockerfile
